DesktopApp/DesktopAppColineAirport/src/META-INF/wsdl/localhost_8080/WebServerColineAirport/DesktopWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Desktop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Desktop/" name="DesktopWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Desktop/" schemaLocation="http://localhost:8080/WebServerColineAirport/DesktopWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addRuta">
<part name="parameters" element="tns:addRuta"/>
</message>
<message name="addRutaResponse">
<part name="parameters" element="tns:addRutaResponse"/>
</message>
<message name="addDestino">
<part name="parameters" element="tns:addDestino"/>
</message>
<message name="addDestinoResponse">
<part name="parameters" element="tns:addDestinoResponse"/>
</message>
<message name="removeRuta">
<part name="parameters" element="tns:removeRuta"/>
</message>
<message name="removeRutaResponse">
<part name="parameters" element="tns:removeRutaResponse"/>
</message>
<message name="getDotRutas">
<part name="parameters" element="tns:getDotRutas"/>
</message>
<message name="getDotRutasResponse">
<part name="parameters" element="tns:getDotRutasResponse"/>
</message>
<message name="getVermanKey">
<part name="parameters" element="tns:getVermanKey"/>
</message>
<message name="getVermanKeyResponse">
<part name="parameters" element="tns:getVermanKeyResponse"/>
</message>
<message name="getStringDestinos">
<part name="parameters" element="tns:getStringDestinos"/>
</message>
<message name="getStringDestinosResponse">
<part name="parameters" element="tns:getStringDestinosResponse"/>
</message>
<message name="getStringRutasReservas">
<part name="parameters" element="tns:getStringRutasReservas"/>
</message>
<message name="getStringRutasReservasResponse">
<part name="parameters" element="tns:getStringRutasReservasResponse"/>
</message>
<message name="getStringDestinosRutas">
<part name="parameters" element="tns:getStringDestinosRutas"/>
</message>
<message name="getStringDestinosRutasResponse">
<part name="parameters" element="tns:getStringDestinosRutasResponse"/>
</message>
<message name="getDotReservas">
<part name="parameters" element="tns:getDotReservas"/>
</message>
<message name="getDotReservasResponse">
<part name="parameters" element="tns:getDotReservasResponse"/>
</message>
<message name="getDotMapa">
<part name="parameters" element="tns:getDotMapa"/>
</message>
<message name="getDotMapaResponse">
<part name="parameters" element="tns:getDotMapaResponse"/>
</message>
<message name="getPaths">
<part name="parameters" element="tns:getPaths"/>
</message>
<message name="getPathsResponse">
<part name="parameters" element="tns:getPathsResponse"/>
</message>
<message name="removeReserva">
<part name="parameters" element="tns:removeReserva"/>
</message>
<message name="removeReservaResponse">
<part name="parameters" element="tns:removeReservaResponse"/>
</message>
<message name="getReservasCliente">
<part name="parameters" element="tns:getReservasCliente"/>
</message>
<message name="getReservasClienteResponse">
<part name="parameters" element="tns:getReservasClienteResponse"/>
</message>
<message name="addReserva">
<part name="parameters" element="tns:addReserva"/>
</message>
<message name="addReservaResponse">
<part name="parameters" element="tns:addReservaResponse"/>
</message>
<message name="getDotDestinos">
<part name="parameters" element="tns:getDotDestinos"/>
</message>
<message name="getDotDestinosResponse">
<part name="parameters" element="tns:getDotDestinosResponse"/>
</message>
<portType name="DesktopWebService">
<operation name="hello">
<input wsam:Action="http://Desktop/DesktopWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Desktop/DesktopWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addRuta">
<input wsam:Action="http://Desktop/DesktopWebService/addRutaRequest" message="tns:addRuta"/>
<output wsam:Action="http://Desktop/DesktopWebService/addRutaResponse" message="tns:addRutaResponse"/>
</operation>
<operation name="addDestino">
<input wsam:Action="http://Desktop/DesktopWebService/addDestinoRequest" message="tns:addDestino"/>
<output wsam:Action="http://Desktop/DesktopWebService/addDestinoResponse" message="tns:addDestinoResponse"/>
</operation>
<operation name="removeRuta">
<input wsam:Action="http://Desktop/DesktopWebService/removeRutaRequest" message="tns:removeRuta"/>
<output wsam:Action="http://Desktop/DesktopWebService/removeRutaResponse" message="tns:removeRutaResponse"/>
</operation>
<operation name="getDotRutas">
<input wsam:Action="http://Desktop/DesktopWebService/getDotRutasRequest" message="tns:getDotRutas"/>
<output wsam:Action="http://Desktop/DesktopWebService/getDotRutasResponse" message="tns:getDotRutasResponse"/>
</operation>
<operation name="getVermanKey">
<input wsam:Action="http://Desktop/DesktopWebService/getVermanKeyRequest" message="tns:getVermanKey"/>
<output wsam:Action="http://Desktop/DesktopWebService/getVermanKeyResponse" message="tns:getVermanKeyResponse"/>
</operation>
<operation name="getStringDestinos">
<input wsam:Action="http://Desktop/DesktopWebService/getStringDestinosRequest" message="tns:getStringDestinos"/>
<output wsam:Action="http://Desktop/DesktopWebService/getStringDestinosResponse" message="tns:getStringDestinosResponse"/>
</operation>
<operation name="getStringRutasReservas">
<input wsam:Action="http://Desktop/DesktopWebService/getStringRutasReservasRequest" message="tns:getStringRutasReservas"/>
<output wsam:Action="http://Desktop/DesktopWebService/getStringRutasReservasResponse" message="tns:getStringRutasReservasResponse"/>
</operation>
<operation name="getStringDestinosRutas">
<input wsam:Action="http://Desktop/DesktopWebService/getStringDestinosRutasRequest" message="tns:getStringDestinosRutas"/>
<output wsam:Action="http://Desktop/DesktopWebService/getStringDestinosRutasResponse" message="tns:getStringDestinosRutasResponse"/>
</operation>
<operation name="getDotReservas">
<input wsam:Action="http://Desktop/DesktopWebService/getDotReservasRequest" message="tns:getDotReservas"/>
<output wsam:Action="http://Desktop/DesktopWebService/getDotReservasResponse" message="tns:getDotReservasResponse"/>
</operation>
<operation name="getDotMapa">
<input wsam:Action="http://Desktop/DesktopWebService/getDotMapaRequest" message="tns:getDotMapa"/>
<output wsam:Action="http://Desktop/DesktopWebService/getDotMapaResponse" message="tns:getDotMapaResponse"/>
</operation>
<operation name="getPaths">
<input wsam:Action="http://Desktop/DesktopWebService/getPathsRequest" message="tns:getPaths"/>
<output wsam:Action="http://Desktop/DesktopWebService/getPathsResponse" message="tns:getPathsResponse"/>
</operation>
<operation name="removeReserva">
<input wsam:Action="http://Desktop/DesktopWebService/removeReservaRequest" message="tns:removeReserva"/>
<output wsam:Action="http://Desktop/DesktopWebService/removeReservaResponse" message="tns:removeReservaResponse"/>
</operation>
<operation name="getReservasCliente">
<input wsam:Action="http://Desktop/DesktopWebService/getReservasClienteRequest" message="tns:getReservasCliente"/>
<output wsam:Action="http://Desktop/DesktopWebService/getReservasClienteResponse" message="tns:getReservasClienteResponse"/>
</operation>
<operation name="addReserva">
<input wsam:Action="http://Desktop/DesktopWebService/addReservaRequest" message="tns:addReserva"/>
<output wsam:Action="http://Desktop/DesktopWebService/addReservaResponse" message="tns:addReservaResponse"/>
</operation>
<operation name="getDotDestinos">
<input wsam:Action="http://Desktop/DesktopWebService/getDotDestinosRequest" message="tns:getDotDestinos"/>
<output wsam:Action="http://Desktop/DesktopWebService/getDotDestinosResponse" message="tns:getDotDestinosResponse"/>
</operation>
</portType>
<binding name="DesktopWebServicePortBinding" type="tns:DesktopWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDestino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDotRutas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVermanKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStringDestinos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStringRutasReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStringDestinosRutas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDotReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDotMapa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaths">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservasCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDotDestinos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DesktopWebService">
<port name="DesktopWebServicePort" binding="tns:DesktopWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServerColineAirport/DesktopWebService"/>
</port>
</service>
</definitions>